n8n/workflow-zapytania.json
{
  "name": "[OC] Zapytania z aplikacji — Generator zapytan",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zapytania-app",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "zapytania-app"
    },
    {
      "parameters": {
        "jsCode": "// Auth + walidacja + normalizacja + budowa TITLE/COMMENTS (BEZ EMOJI!)\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\n\nif (!$env.INQUIRY_SHARED_TOKEN || headers['x-inquiry-token'] !== $env.INQUIRY_SHARED_TOKEN) {\n  return [{ json: { _error: 'auth', _status: 403 } }];\n}\nconst org = body.organizer || {};\nif (!org.email || !org.company || (!Array.isArray(body.artists) || !body.artists.length) && (!Array.isArray(body.customArtists) || !body.customArtists.length)) {\n  return [{ json: { _error: 'validation', _status: 400 } }];\n}\n\n// defensywny strip emoji (Bitrix po cichu gubi pola z emoji)\nconst strip = (s) => String(s ?? '').replace(/[\\u{10000}-\\u{10FFFF}]/gu, '').replace(/[\\u2600-\\u27BF\\u2B00-\\u2BFF\\uFE0F\\u200D]/g, '').trim();\n\nconst contactName = strip(org.name);\nconst nameParts = contactName.split(/\\s+/).filter(Boolean);\nconst firstName = nameParts[0] || strip(org.company);\nconst lastName = nameParts.slice(1).join(' ');\nconst leadId = /^\\d{1,10}$/.test(String(body.leadId ?? '')) ? String(body.leadId) : '';\nconst city = strip(body.event?.city) || 'miejscowosc nieznana';\nlet dateDDMM = '';\nconst dISO = String(body.event?.date || '');\nif (/^\\d{4}-\\d{2}-\\d{2}$/.test(dISO)) { const [y, m, d] = dISO.split('-'); dateDDMM = `${d}.${m}.${y}`; }\nconst styles = (body.styles || []).map(strip).filter(Boolean);\nconst stylesStr = styles.join(', ') || 'rozne style';\nconst programs = (body.programs || []).map(strip).filter(Boolean);\nconst occasion = strip(body.occasion);\nconst artists = (body.artists || []).map((a) => ({ name: strip(a.name), price: strip(a.priceLabel), busy: !!a.busy }));\nconst custom = (body.customArtists || []).map(strip).filter(Boolean);\n\n// TITLE zgodny z regexem generatora ofert: Organizator: {miasto} {DD.MM.YYYY} — {gatunek} ({nazwa})\nconst title = `Organizator: ${city}${dateDDMM ? ' ' + dateDDMM : ''} — ${stylesStr} (${strip(org.company)})`;\n\nconst now = new Date();\nconst lines = [\n  'ZAPYTANIE Z APLIKACJI GENERATOR ZAPYTAN',\n  `Data zgloszenia: ${now.toLocaleString('pl-PL', { timeZone: 'Europe/Warsaw' })}`,\n  '',\n  'ORGANIZATOR',\n  ...(contactName ? [`Osoba kontaktowa: ${contactName}`] : []),\n  `Firma/instytucja: ${strip(org.company)}`,\n  `Telefon: ${strip(org.phone)}`,\n  `E-mail: ${strip(org.email)}`,\n  '',\n  'WYDARZENIE',\n  `Typ: ${(body.eventTypes || []).map(strip).join(', ') || 'nie podano'}`,\n  ...(occasion ? [`Okazja: ${occasion}`] : []),\n  ...(programs.length ? [`Program: ${programs.join(', ')}`] : []),\n  `Data: ${dateDDMM || 'nie podano'}`,\n  `Miejscowość: ${city}${strip(body.event?.postalCode) ? ', ' + strip(body.event?.postalCode) : ''}`,\n  `Województwo: ${strip(body.event?.voivodeship) || 'nie podano'}`,\n  `Miejsce: ${strip(body.event?.venueType) || 'nie podano'}`,\n  `Budżet: ${strip(body.budget) || 'nie podano'}`,\n  '',\n  'WYBRANI ARTYSCI (zapytanie o dostepnosc)',\n  ...(artists.length ? artists.map((a, i) => `${i + 1}. ${a.name}${a.price ? ' (orientacyjnie ' + a.price + ')' : ''}${a.busy ? ' — UWAGA: ZAJETY TERMIN, nie wysylac zapytania' : ''}`) : ['brak']),\n];\nif (custom.length) {\n  lines.push('', 'ARTYSCI SPOZA BAZY (do weryfikacji)');\n  custom.forEach((n, i) => lines.push(`${i + 1}. ${n}`));\n}\nlines.push('', `STYLE: ${stylesStr}`);\nif (strip(body.message)) lines.push('', 'WIADOMOSC:', strip(body.message));\n\nreturn [{ json: {\n  title,\n  comments: lines.join('\\n'),\n  company: strip(org.company), phone: strip(org.phone), email: strip(org.email).toLowerCase(),\n  contactName, firstName, lastName, leadId,\n  eventTypes: (body.eventTypes || []).map(strip), budget: strip(body.budget),\n  styles, stylesStr,\n  programs, programsStr: programs.join(', '), occasion,\n  artistNames: artists.map((a) => a.name), customArtists: custom,\n  eventDate: dISO, dateDDMM, city,\n  postalCode: strip(body.event?.postalCode), voivodeship: strip(body.event?.voivodeship),\n  venueType: strip(body.event?.venueType),\n  message: strip(body.message),\n} }];"
      },
      "id": "code-1",
      "name": "Walidacja i normalizacja",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json._error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "IF poprawne",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app5NIUbshNL31ylr",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Zapytania z aplikacji",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Firma": "={{ $json.company }}",
            "Telefon": "={{ $json.phone }}",
            "Email": "={{ $json.email }}",
            "Typy wydarzenia": "={{ $json.eventTypes }}",
            "Budżet": "={{ $json.budget || null }}",
            "Style": "={{ $json.stylesStr }}",
            "Wybrani artyści": "={{ $json.artistNames.join(', ') }}",
            "Artyści spoza bazy": "={{ $json.customArtists.join(', ') }}",
            "Data wydarzenia": "={{ $json.eventDate || null }}",
            "Miejscowość": "={{ $json.city }}",
            "Rodzaj miejsca": "={{ $json.venueType || null }}",
            "Wiadomość": "={{ $json.message }}",
            "Status": "Nowe",
            "Kod pocztowy": "={{ $json.postalCode }}",
            "Województwo": "={{ $json.voivodeship || null }}",
            "Programy": "={{ $json.programsStr }}",
            "Okazja": "={{ $json.occasion }}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "at-1",
      "name": "Airtable: zapis zapytania",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        660,
        -100
      ],
      "notes": "Wymaga credentiala Airtable (ten sam co inne workflow) i tabeli 'Zapytania z aplikacji'.",
      "credentials": {
        "airtableTokenApi": {
          "id": "aJDN5PJdRkGq3haz",
          "name": "AT Impresariat"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.BITRIX24_REST_URL_ANATOL }}/crm.duplicate.findbycomm.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "EMAIL"
            },
            {
              "name": "values[]",
              "value": "={{ $('Walidacja i normalizacja').first().json.email }}"
            },
            {
              "name": "entity_type",
              "value": "CONTACT"
            }
          ]
        },
        "options": {}
      },
      "id": "bx-dup",
      "name": "Bitrix: szukaj kontaktu po mailu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.result?.CONTACT?.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-contact",
      "name": "IF kontakt istnieje",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        -100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cid",
              "name": "contactId",
              "value": "={{ $json.result.CONTACT[0] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-cid",
      "name": "Kontakt: istniejący",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BITRIX24_REST_URL_ANATOL }}/crm.contact.add.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: {\n  NAME: $('Walidacja i normalizacja').first().json.firstName,\n  LAST_NAME: $('Walidacja i normalizacja').first().json.lastName,\n  COMPANY_TITLE: $('Walidacja i normalizacja').first().json.company,\n  SOURCE_ID: 'WEB',\n  COMMENTS: 'Kontakt z aplikacji Generator zapytan',\n  PHONE: [{ VALUE: $('Walidacja i normalizacja').first().json.phone, VALUE_TYPE: 'WORK' }],\n  EMAIL: [{ VALUE: $('Walidacja i normalizacja').first().json.email, VALUE_TYPE: 'WORK' }]\n} }) }}",
        "options": {}
      },
      "id": "bx-cadd",
      "name": "Kontakt: nowy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cid2",
              "name": "contactId",
              "value": "={{ $json.result }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-cid2",
      "name": "Kontakt: nowy id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BITRIX24_REST_URL_ANATOL }}/crm.deal.add.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: {\n  TITLE: $('Walidacja i normalizacja').first().json.title,\n  CATEGORY_ID: 9,\n  STAGE_ID: 'C9:NEW',\n  ASSIGNED_BY_ID: 19,\n  SOURCE_ID: 'WEB',\n  CONTACT_ID: $json.contactId,\n  COMPANY_ID: $json.companyId || 0,\n  COMMENTS: $('Walidacja i normalizacja').first().json.comments\n} }) }}",
        "options": {}
      },
      "id": "bx-deal",
      "name": "Bitrix: crm.deal.add",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -100
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.BITRIX24_REST_URL_ANATOL }}/crm.deal.get.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.result }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bx-verify",
      "name": "Bitrix: weryfikacja COMMENTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -100
      ],
      "notes": "Zasada z CLAUDE.md: emoji po cichu kasuje pole. Jeśli result.COMMENTS puste -> alarm w logu (strip emoji jest podwójny, więc nie powinno wystąpić)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.10:18790/hooks/agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.HOOKS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  agentId: 'intake',\n  message: 'Nowe zapytanie z aplikacji Generator zapytan. Deal #' + $json.result.ID + ': ' + $('Walidacja i normalizacja').first().json.city + ' ' + ($('Walidacja i normalizacja').first().json.dateDDMM || 'data nieznana') + ', budzet ' + ($('Walidacja i normalizacja').first().json.budget || 'nieokreslony') + ', artysci: ' + $('Walidacja i normalizacja').first().json.artistNames.join(', ') + ($('Walidacja i normalizacja').first().json.customArtists.length ? ' | spoza bazy: ' + $('Walidacja i normalizacja').first().json.customArtists.join(', ') : '') + '. Firma: ' + $('Walidacja i normalizacja').first().json.company + ', tel ' + $('Walidacja i normalizacja').first().json.phone + ', mail ' + $('Walidacja i normalizacja').first().json.email + '. Sprawdz deal w Bitrix i rozpocznij ustalanie dostepnosci.'\n}) }}",
        "options": {}
      },
      "id": "hook-anatol",
      "name": "Hook do Anatola (intake)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        -100
      ],
      "onError": "continueRegularOutput",
      "notes": "onError: continue — padniety hook nie gubi zapytania (jest w Airtable i Bitrix)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, dealId: $('Bitrix: weryfikacja COMMENTS').first().json.result.ID }) }}",
        "options": {}
      },
      "id": "resp-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2420,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $json._error }) }}",
        "options": {
          "responseCode": "={{ $json._status || 400 }}"
        }
      },
      "id": "resp-err",
      "name": "Respond błąd",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app5NIUbshNL31ylr",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Zapytania z aplikacji",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable: zapis zapytania').first().json.id }}",
            "Deal ID": "={{ Number($('Bitrix: crm.deal.add').first().json.result) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": []
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2180,
        60
      ],
      "name": "Airtable: dopisz Deal ID",
      "credentials": {
        "airtableTokenApi": {
          "id": "aJDN5PJdRkGq3haz",
          "name": "AT Impresariat"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zapytania-app-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        500
      ],
      "name": "Webhook lead",
      "webhookId": "zapytania-app-lead-wh"
    },
    {
      "parameters": {
        "jsCode": "// Auth + walidacja leada (rejestracja w aplikacji cennik)\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nif (!$env.INQUIRY_SHARED_TOKEN || headers['x-inquiry-token'] !== $env.INQUIRY_SHARED_TOKEN) {\n  return [{ json: { _error: 'auth' } }];\n}\nconst strip = (s) => String(s ?? '').replace(/[\\u{10000}-\\u{10FFFF}]/gu, '').replace(/[\\u2600-\\u27BF\\u2B00-\\u2BFF\\uFE0F\\u200D]/g, '').trim();\nconst o = body.organizer || {};\nconst name = strip(o.name), company = strip(o.company), email = strip(o.email).toLowerCase(), phone = strip(o.phone);\nif (!name || !email) return [{ json: { _error: 'validation' } }];\nconst parts = name.split(/\\s+/).filter(Boolean);\nreturn [{ json: { name, firstName: parts[0] || company, lastName: parts.slice(1).join(' '), company, email, phone } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        500
      ],
      "name": "Lead: walidacja"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json._error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        500
      ],
      "name": "IF lead poprawny"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BITRIX24_REST_URL_ANATOL }}/crm.lead.add.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: {\n  TITLE: 'Cennik artystów: ' + $json.name + ' (' + $json.company + ')',\n  NAME: $json.firstName,\n  LAST_NAME: $json.lastName,\n  COMPANY_TITLE: $json.company,\n  SOURCE_ID: 'WEB',\n  ASSIGNED_BY_ID: 19,\n  COMMENTS: 'Rejestracja w aplikacji cennik.impresariatkoncertowy.pl — zapytanie jeszcze nie wyslane. Jesli status nie zmieni sie na CONVERTED, organizator porzucil formularz — warto oddzwonic.',\n  PHONE: $json.phone ? [{ VALUE: $json.phone, VALUE_TYPE: 'WORK' }] : [],\n  EMAIL: [{ VALUE: $json.email, VALUE_TYPE: 'WORK' }]\n} }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        420
      ],
      "name": "Bitrix: crm.lead.add"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, leadId: $json.result || null } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        420
      ],
      "name": "Respond lead"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false } }}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        260,
        600
      ],
      "name": "Respond lead błąd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BITRIX24_REST_URL_ANATOL }}/crm.lead.update.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $('Walidacja i normalizacja').first().json.leadId, fields: {\n  STATUS_ID: 'CONVERTED',\n  COMMENTS: 'Zapytanie wyslane — przeksztalcone w deal #' + $('Bitrix: crm.deal.add').first().json.result\n} }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        -80
      ],
      "name": "Bitrix: lead skonwertowany",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Walidacja i normalizacja').first().json.email }}",
        "subject": "={{ 'Dziękuję za zapytanie — ' + (($('Walidacja i normalizacja').first().json.eventTypes || []).join(', ') || 'wycena występu artysty') + ($('Walidacja i normalizacja').first().json.dateDDMM ? ', ' + $('Walidacja i normalizacja').first().json.dateDDMM : '') + ' | Impresariat Koncertowy' }}",
        "emailType": "html",
        "message": "={{ (() => {\nconst w = $('Walidacja i normalizacja').first().json;\nconst esc = (s) => String(s ?? '').replace(/[&<>\"]/g, (c) => ({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;'}[c]));\nconst artists = w.artistNames.concat(w.customArtists);\nconst rows = [];\nif (w.eventTypes.length) rows.push(['Rodzaj wydarzenia', w.eventTypes.join(', ')]);\nif (w.occasion) rows.push(['Okazja', w.occasion]);\nif (w.programsStr) rows.push(['Program', w.programsStr]);\nrows.push(['Termin', w.dateDDMM || 'do ustalenia']);\nif (w.city && w.city !== 'miejscowosc nieznana') rows.push(['Miejscowość', w.city]);\nrows.push(['Wybrani artyści', artists.join(', ') || 'dobierzemy propozycje']);\nif (w.budget && w.budget !== 'nie określono') rows.push(['Budżet', w.budget]);\nconst P = 'style=\"margin:0 0 12px;font-family:Arial,sans-serif;font-size:15px;color:#222;line-height:1.5;\"';\nconst html = [\n'<p ' + P + '>Dzień dobry' + (w.firstName ? ' ' + esc(w.firstName) : '') + ',</p>',\n'<p ' + P + '>dziękuję za zapytanie wysłane przez nasz cennik artystów. Otrzymałam następujące informacje:</p>',\n'<table style=\"border-collapse:collapse;margin:0 0 14px;\">' + rows.map(([k, v]) =>\n  '<tr><td style=\"padding:2px 14px 2px 0;font-family:Arial,sans-serif;font-size:15px;color:#666;\">' + k + ':</td>' +\n  '<td style=\"padding:2px 0;font-family:Arial,sans-serif;font-size:15px;color:#222;\"><b>' + esc(v) + '</b></td></tr>').join('') + '</table>',\n'<p ' + P + '>Sprawdzam teraz dostępność wykonawców w podanym terminie i wrócę z konkretną ofertą.</p>',\n'<p ' + P + '>Jeśli chcieliby Państwo coś doprecyzować, wystarczy odpowiedzieć na tę wiadomość.</p>',\n'<p ' + P + '>Pozdrawiam serdecznie</p>'\n].join('');\nconst SIG = \"<br>\\n <br>\\n<div id=\\\"main_mail_form_crm_act_email_create_form_signature_19ebcd585af\\\">\\n    --<br>\\n    <div style=\\\"width: 100.0%;max-width: 550.0px;\\\">\\n        <table style=\\\"width: 100.0%;max-width: 550.0px;border-collapse: collapse;\\\">\\n        <tbody>\\n        <tr>\\n            <td style=\\\"padding: 0;margin: 0;vertical-align: top;width: 70.0px;border: 0.0px;\\\">\\n                <table style=\\\"width: 100.0%;border-collapse: collapse;\\\">\\n                <tbody>\\n                <tr>\\n                    <td style=\\\"margin: 0;padding-top: 0.0px;padding-bottom: 9.0px;padding-left: 0.0px;padding-right: 12.0px;text-align: left;border: 0.0px;\\\">\\n <img width=\\\"74\\\" src=\\\"https://cdn.emailbadge.com/media/8gL7IQch3ZPKDwM07bDgYamXb2JWadETsfd4CZYU.jpg\\\" style=\\\"border-radius: 10.0px;\\\" alt=\\\"\\\">\\n                    </td>\\n                </tr>\\n                </tbody>\\n                </table>\\n            </td>\\n            <td style=\\\"padding: 0;margin: 0;vertical-align: top;border: 0.0px;\\\">\\n                <table style=\\\"width: 100.0%;border-collapse: collapse;\\\">\\n                <tbody>\\n                <tr>\\n                    <td style=\\\"margin: 0;padding: 0;padding-top: 0.0px;padding-bottom: 6.0px;padding-left: 0.0px;padding-right: 0.0px;border: 0.0px;\\\">\\n                        <p style=\\\"line-height: 1.2;margin: 0;text-align: left;font-weight: normal;font-style: normal;text-decoration: none;font-family: Arial;font-size: 16.0px;color: #000000;\\\">\\n                             Dyrektor Artystyczny&nbsp;\\n                        </p>\\n                        <p style=\\\"line-height: 1.2;margin: 0;text-align: left;font-weight: normal;font-style: normal;text-decoration: none;font-family: Arial;font-size: 16.0px;color: #000000;\\\">\\n                             Joanna Kwaśnik&nbsp;\\n                        </p>\\n                    </td>\\n                </tr>\\n                <tr>\\n                    <td style=\\\"margin: 0;padding-top: 0.0px;padding-bottom: 0.0px;padding-left: 0.0px;padding-right: 0.0px;border: 0.0px;\\\">\\n                        <table style=\\\"border-collapse: collapse;width: 100.0%;max-width: 550.0px;\\\">\\n                        <tbody>\\n                        <tr style=\\\"vertical-align: middle;\\\">\\n                            <td style=\\\"margin: 0;padding: 5.0px;text-align: center;border: 0.0px;width: 25.0px;line-height: 1.2;\\\">\\n <img width=\\\"15\\\" alt=\\\"phone-volume\\\" src=\\\"https://asset.emailbadge.com/customize-image?icon=phone-volume&color=%23000000&size=md\\\">\\n                            </td>\\n                            <td style=\\\"margin: 0;padding: 0;font-size: 16.0px;text-align: left;font-weight: normal;font-style: normal;text-decoration: none;font-family: Arial;color: #000000;border: 0.0px;\\\">\\n                                <p style=\\\"margin: 0;padding: 0;text-align: left;line-height: 1.2;color: #000000;\\\">\\n <a style=\\\"text-decoration: none;color: #000000;\\\" href=\\\"http://+4878845094\\\"> 788 457 094 </a>\\n                                </p>\\n                            </td>\\n                        </tr>\\n                        </tbody>\\n                        </table>\\n                    </td>\\n                </tr>\\n                <tr>\\n                    <td style=\\\"margin: 0;padding: 0;padding-top: 0.0px;padding-bottom: 21.0px;padding-left: 0.0px;padding-right: 0.0px;border: 0.0px;\\\">\\n                        <p style=\\\"line-height: 1.2;margin: 0;text-align: left;font-weight: normal;font-style: normal;text-decoration: underline;font-family: Arial;font-size: 16.0px;color: #000000;\\\">\\n <a style=\\\"text-decoration: none;color: #000000;\\\" href=\\\"https://impresariatkoncertowy.pl/\\\"> www.ImpresariatKoncertowy.pl </a>\\n                        </p>\\n                    </td>\\n                </tr>\\n                <tr>\\n                    <td style=\\\"padding-top: 0.0px;padding-bottom: 0.0px;padding-left: 0.0px;padding-right: 0.0px;margin: 0;border: 0.0px;\\\">\\n                        <table style=\\\"border-collapse: collapse;width: auto;max-width: 550.0px;margin: 0;padding: 0;\\\">\\n                        <tbody>\\n                        <tr>\\n                            <td style=\\\"padding-top: 10.0px;padding-bottom: 10.0px;padding-left: 15.0px;padding-right: 15.0px;font-weight: normal;font-style: normal;font-family: Arial;font-size: 16.0px;line-height: 1.2;text-align: center;border-radius: 5.0px;background-color: #2286d3;color: #ffffff;margin: 0;vertical-align: middle;border: 0.0px;\\\">\\n <a href=\\\"https://cb24.me/s/rh\\\" style=\\\"text-decoration: none;line-height: 1.2;margin: 0;padding: 0;color: #ffffff;\\\"> Call me now </a>\\n                            </td>\\n                        </tr>\\n                        </tbody>\\n                        </table>\\n                    </td>\\n                </tr>\\n                </tbody>\\n                </table>\\n            </td>\\n        </tr>\\n        </tbody>\\n        </table>\\n    </div>\\n <br>\\n</div>\\n<br>\\n<br>\\n\";\nreturn html + SIG;\n})() }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2580,
        60
      ],
      "name": "Email: potwierdzenie od Joanny",
      "onError": "continueRegularOutput",
      "credentials": {
        "gmailOAuth2": {
          "id": "J4kCjpDOEgI30vo7",
          "name": "Joanna.k@impresariatkoncertowy.pl"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Wzbogacenie CRM (best-effort): bezimienny kontakt dostaje dane organizatora,\n// firma jest znajdowana po nazwie albo tworzona i podpinana do kontaktu + deala.\nconst base = $env.BITRIX24_REST_URL_ANATOL;\nconst w = $('Walidacja i normalizacja').first().json;\nconst contactId = $json.contactId;\nconst req = (m, body) => this.helpers.httpRequest({ method: 'POST', url: base + '/' + m + '.json', body, json: true });\nlet companyId = 0;\ntry {\n  const c = await req('crm.contact.get', { id: contactId });\n  const cf = c.result || {};\n  const upd = {};\n  if (!cf.NAME && !cf.LAST_NAME && w.firstName) { upd.NAME = w.firstName; if (w.lastName) upd.LAST_NAME = w.lastName; }\n  if (!cf.COMPANY_TITLE && !cf.COMPANY_ID && w.company) upd.COMPANY_TITLE = w.company;\n  if (Object.keys(upd).length) await req('crm.contact.update', { id: contactId, fields: upd });\n  if (w.company) {\n    const found = await req('crm.company.list', { filter: { '=TITLE': w.company }, select: ['ID'] });\n    if (found.result && found.result.length) companyId = Number(found.result[0].ID);\n    else {\n      const created = await req('crm.company.add', { fields: {\n        TITLE: w.company, ASSIGNED_BY_ID: 19,\n        PHONE: w.phone ? [{ VALUE: w.phone, VALUE_TYPE: 'WORK' }] : [],\n        EMAIL: [{ VALUE: w.email, VALUE_TYPE: 'WORK' }],\n        COMMENTS: 'Organizator z aplikacji cennik.impresariatkoncertowy.pl',\n      } });\n      companyId = Number(created.result || 0);\n    }\n    if (companyId && !cf.COMPANY_ID) await req('crm.contact.update', { id: contactId, fields: { COMPANY_ID: companyId } });\n  }\n} catch (e) { /* wzbogacenie nie moze zablokowac deala */ }\nreturn [{ json: { contactId, companyId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        -220
      ],
      "name": "Bitrix: kontakt i firma"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Walidacja i normalizacja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Walidacja i normalizacja": {
      "main": [
        [
          {
            "node": "IF poprawne",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF poprawne": {
      "main": [
        [
          {
            "node": "Airtable: zapis zapytania",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond błąd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable: zapis zapytania": {
      "main": [
        [
          {
            "node": "Bitrix: szukaj kontaktu po mailu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bitrix: szukaj kontaktu po mailu": {
      "main": [
        [
          {
            "node": "IF kontakt istnieje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF kontakt istnieje": {
      "main": [
        [
          {
            "node": "Kontakt: istniejący",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kontakt: nowy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kontakt: istniejący": {
      "main": [
        [
          {
            "node": "Bitrix: kontakt i firma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kontakt: nowy": {
      "main": [
        [
          {
            "node": "Kontakt: nowy id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kontakt: nowy id": {
      "main": [
        [
          {
            "node": "Bitrix: kontakt i firma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bitrix: crm.deal.add": {
      "main": [
        [
          {
            "node": "Bitrix: weryfikacja COMMENTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bitrix: weryfikacja COMMENTS": {
      "main": [
        [
          {
            "node": "Airtable: dopisz Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hook do Anatola (intake)": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable: dopisz Deal ID": {
      "main": [
        [
          {
            "node": "Bitrix: lead skonwertowany",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook lead": {
      "main": [
        [
          {
            "node": "Lead: walidacja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead: walidacja": {
      "main": [
        [
          {
            "node": "IF lead poprawny",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF lead poprawny": {
      "main": [
        [
          {
            "node": "Bitrix: crm.lead.add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond lead błąd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bitrix: crm.lead.add": {
      "main": [
        [
          {
            "node": "Respond lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bitrix: lead skonwertowany": {
      "main": [
        [
          {
            "node": "Email: potwierdzenie od Joanny",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: potwierdzenie od Joanny": {
      "main": [
        [
          {
            "node": "Hook do Anatola (intake)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bitrix: kontakt i firma": {
      "main": [
        [
          {
            "node": "Bitrix: crm.deal.add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "id": "ZapytaniaAppGen1"
}
